<form action="<%= session_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <input type="hidden" name="user[username]" value="demo_user">
  <input type="hidden" name="user[password]" value="password">
  <input class="btn btn-minor waves-effect" type="submit" value="Login as Demo User">

</form>
