/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #org {
   color: #6633ff;
   font-size: 28px;
   margin: auto;
   width: 60%;
   padding: 10px;
 }

 #quote {
   font-family: 'Parisienne', cursive;
   font-size: 16px;
   margin: auto;
 }

 .user_info {
   position: absolute;
   right: 0px;
   padding: 10px;
 }

.matched-items {
  display: block;
}

 // .font {
 //   font-family: 'Comic Sans MS', cursive, sans-serif;
 // }

 .dish-details {
   /*border-radius: 20%;
   border: 2px solid #73AD21;
   padding: 25px 50px 75px;*/
   width: 250px;
   height: 250px;
   display: inline;
 }

 .dish-details:hover {
   cursor: pointer;
 }

 .dish-index-item {
   width: 300px;
   float: left;
 }
